nav {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  z-index: 1000;

  .nav-links {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .nav-links li {
    padding: 10px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s;

    &:hover {
      background-color: #555;
      border-radius: 5px;
    }

    &.active {
      background-color: #007bff;
    }
  }

  .logout-button {
    cursor: pointer;
  }

  // Responsive design for smaller screens
  @media (max-width: 768px) {
    .nav-links {
      flex-direction: column;
      align-items: center;
    }
  }
}
